<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMT CHAT SUPPORT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/chat.css?emtctbov=005" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    {% block extrajs %}{% endblock %}
</head>
<body>
<div class="container_">

    {% block container %}{% endblock %}
<!--     <footer>-->
<!--      <img src="img/emt-footer.png" alt="" style="width:100%">-->
<!--    </footer>-->
</div>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>