<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function deleteCookie(cname) {
            var d = new Date(); //Create an date object
            d.setTime(d.getTime() - (1000*60*60*24)); //Set the time to the past. 1000 milliseonds = 1 second
            var expires = "expires=" + d.toGMTString(); //Compose the expirartion date
            window.document.cookie = cname+"="+"; "+expires;//Set the cookie with name and the expiration date

        }

        deleteCookie('token');
        console.log("cookie deleted");

        setTimeout(function(){
            window.location.href = '/admin';
         }, 2000);
    </script>
</head>
<body>
<p><strong>Logout Successfully</strong></p>
</body>
</html>