<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>SIGNUP Form</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <section class="container">
    {% if error %}

      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>{{error}}</strong>
      </div>
    {% endif %}


    <div class="login">
      <h1>Signup to EMT Support</h1>
      <form method="post" action="/signup">
        <p><input type="text" name="name" value="" placeholder="Name"></p>
        <p><input type="text" name="phone" placeholder="Mobile Number"></p>
        <p><input type="text" name="email" placeholder="Email Address"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p><input type="password" name="confirm_password" value="" placeholder="Confirm Password"></p>
          <p><B>GENDER :</B>
            <select name="gender">
                <option value="options">Please Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </p>
          <p><B>DEPARTMENT :</B>
            <select id="department" name="department" onchange="onDepartmentChange()">
                <option value="options">Please Select One</option>
                <option value="b2b">B2B Support</option>
                <option value="b2c">B2C Support</option>
                <option value="cor">Corporate Support</option>
                <option value="pro">Promotional Support</option>
                <option value="ehs">Existing Hotel Support</option>
                <option value="etas">Existing Travel Agent Support</option>
          </select>
        </p>
        <p id="sub_department"  style="display: none;"><B>SUB DEPARTMENT :</B>
            <select name="sub_department">
                <option value="options">Please Select One</option>
                <option value="long">Long Trip Support</option>
                <option value="short">Short Trip Support</option>
                <option value="domestic">Domestic Support</option>

          </select>
        </p>
        <p class="remember_me">
          <label>Already have account?
            <a href="/login">Login</a>

          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Signup"></p>
      </form>
    </div>

<!--    <div class="login-help">-->
<!--      <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>-->
<!--    </div>-->
  </section>
<script>
    function onDepartmentChange(){
        if (document.getElementById("department").value == "pro"){
            document.getElementById("sub_department").style.display = 'block'
        }
        else{
            document.getElementById("sub_department").style.display = 'none'
        }
    }
</script>
</body>
</html>
